@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-gray-900 via-purple-900 to-violet-900;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}